.fieldCards {
  min-width: 720px;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: baseline;
  justify-items: center;
}

.fieldCards__content {
  min-width: 720px;
  padding-top: 40px;
  margin: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 40px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 1024px) {
  .fieldCards {
    min-width: 320px;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: baseline;
    justify-items: center;
  }
  
  .fieldCards__content {
    min-width: 320px;
    padding-top: 40px;
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 30px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
