.nav-adaptive {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav-adaptive {
    display: block;
    z-index: 3;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    /* background-image: url('../../img/slide-1.jpg'); */
    height: 65px;
    max-height: 65px;
    min-height: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-adaptive__wrapper {
    width: 100%;
    background-color: #171938e1;
    height: 80px;
    max-height: 80px;
    min-height: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-adaptive__nav-bar {
    margin: 0;
    /* height: 80px;
    max-height: 80px;
    min-height: 80px; */
    width: 100%;
    height: 100%;

    display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1fr;
  align-content: stretch;
  justify-items: stretch;
  

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; */
  }

  .nav-adaptive__nav {
    width: 18%;
    height: 30px; 

    border-radius: 5px;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
  }

  .nav-adaptive__nav_profile {
    width: 18%;
    height: 30px;

    border-radius: 5px;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #89196a;
  }

  .nav-adaptive__nav_profile-active {
    background-color: #d17e00;
  }

  .nav-adaptive__nav_profile-active:hover {
    background-color: #89196a;
  }

  .nav-adaptive__nav_scores {
    right: -20%;

    position: relative;
    background-color: #fff;
    width: 60px;
    height: 36px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-adaptive__nav_scores-text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
    color: #89196a;
    font-size: 0.938rem;
    font-weight: 600;
  }

  .nav-adaptive__nav:hover {
    background-color: #d17e00;
  }

  .nav-adaptive__nav_active {
    background-color: #d17e00;
  }

  .nav-adaptive__nav-text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
    color: #fff;
    font-size: 0.938rem;
    font-weight: medium;
  }

  .nav_pp {
    width: 50px;
    height: auto;
    -webkit-mask: url("/public/img/svg/nav_pp.svg") no-repeat center;
    mask: url("/public/img/svg/nav_pp.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_about {
    width: 50px;
    height: auto;
    -webkit-mask: url("/public/img/svg/nav_about.svg") no-repeat center;
    mask: url("/public/img/svg/nav_about.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_events {
    width: 50px;
    height: auto;
    -webkit-mask: url("/public/img/svg/nav_events.svg") no-repeat center;
    mask: url("/public/img/svg/nav_events.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_shop {
    width: 50px;
    height: auto;
    -webkit-mask: url("/public/img/svg/nav_shop.svg") no-repeat center;
    mask: url("/public/img/svg/nav_shop.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_profile {
    width: 50px;
    height: auto;
    -webkit-mask: url("/public/img/svg/nav_profile.svg") no-repeat center;
    mask: url("/public/img/svg/nav_profile.svg") no-repeat center;
    background-color: #fff;
  }
}
