.header {
  width: 100%;
  height: 320px;
  max-height: 320px;

  /* background-color: #27294E; */

  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
}

.header__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #171938e1;
}

.header__inner {
  min-width: 720px;
  width: 60%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 140px 150px;

  align-items: end;
}

.header__navbar {
  margin: 0;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: 18%;
  height: 30px;

  border-radius: 5px;

  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__nav:focus {
  width: 18%;
  height: 30px;

  border-radius: 5px;

  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #d17e00;
}

.header__nav_profile {
  width: 18%;
  height: 30px;

  border-radius: 5px;

  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #89196a;
}

.header__nav_profile:active {
  width: 18%;
  height: 30px;

  border-radius: 5px;

  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d17e00;
}

.header__nav_profile-active {
  background-color: #d17e00;
}

.header__nav_profile-active:hover {
  background-color: #89196a;
}

.header__nav_scores {
  right: -20%;

  position: relative;
  background-color: #fff;
  width: 60px;
  height: 36px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__nav_scores-text {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica;
  color: #89196a;
  font-size: 0.938rem;
  font-weight: 600;
}

.header__nav:hover {
  background-color: #d17e00;
}

.header__nav_active {
  background-color: #d17e00;
}

.header__navtext {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.header__titlebox {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: default;
}

.header__title {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica;
  color: #fff;
  font-size: 4.188rem;
  font-weight: bold;

  cursor: default;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica;
  color: #fff;
  font-size: 1.125rem;
  font-weight: normal;

  cursor: default;
}

.header__background {
  width: 100vw;
  height: 100vh;
  animation: grow infinite alternate ease-in-out 10s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__background_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__background_nav {
  width: 720px;
  max-width: 720px;
  position: absolute;
  z-index: 10;
}

.header__background_wrapper {
  position: relative;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.06);
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;

    background-color: #27294e;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .header__wrapper {
    width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: #171938e1;
  }

  .header__inner {
    min-width: 320px;

    width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__navbar {
    display: none;
    /* margin: 0;
  
    width: 96%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
  }

  .header__nav {
    padding: 0px 5px 0px 5px;
    width: auto;
    height: 30px;

    border-radius: 5px;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header__nav_profile {
    display: none;
    /* padding-top: 10px;
    width: auto;
    height: 30px;
  
    border-radius: 5px;
  
    text-decoration: none;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #89196A; */
  }

  .header__nav_profile-active {
    background-color: #d17e00;
    display: none;
  }

  .header__nav_profile-active:hover {
    background-color: #89196a;
  }

  .header__nav_scores {
    position: relative;
    background-color: #fff;
    width: 20px;
    height: 36px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__nav_scores-text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
    color: #89196a;
    font-size: 0.938rem;
    font-weight: 600;
  }

  .header__nav:hover {
    background-color: #d17e00;
  }

  .header__nav_active {
    background-color: #d17e00;
  }

  .header__navtext {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
    color: #fff;
    font-size: 0.938rem;
    font-weight: 500;
  }

  .header__title-box {
    padding-bottom: 0px;
    width: 80%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__title {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-family: Helvetica;
    color: #fff;
    font-size: 2.188rem;
    font-weight: bold;
  }

  .header__subtitle {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
    color: #fff;
    font-size: 0.59rem;
    font-weight: normal;
    text-align: center;
  }
}

.navadaptive {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navadaptive {
    display: block;
    z-index: 3;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    bottom: 0;
    /* background-image: url('../../img/slide-1.jpg'); */
    background-color: #27294e;
    height: 65px;
    max-height: 65px;
    min-height: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .navadaptive__wrapper {
      width: 100vw;
      background-color: #171938;
      height: 80px;
      max-height: 80px;
      min-height: 80px;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } */

  .navadaptive__navbar {
    z-index: 5;
    margin: 0;
    background-color: rgb(39, 41, 78);
    /* height: 80px;
      max-height: 80px;
      min-height: 80px; */
    width: 100vw;
    height: 100%;

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr;
    align-content: stretch;
    justify-items: stretch;

    /* display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; */
  }

  .navadaptive__nav {
    width: 20vw;
    height: 30px;

    border-radius: 5px;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navadaptive__nav_profile {
    width: 20vw;
    height: 30px;

    border-radius: 5px;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #89196a;
  }

  .navadaptive__nav_profile-active {
    background-color: #d17e00;
  }

  .navadaptive__nav_profile-active:hover {
    background-color: #89196a;
  }

  .navadaptive__nav_scores {
    right: -20%;

    position: relative;
    background-color: #fff;
    width: 60px;
    height: 36px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navadaptive__nav_scores-text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
    color: #89196a;
    font-size: 0.938rem;
    font-weight: 600;
  }

  .navadaptive__nav:hover {
    background-color: #d17e00;
  }

  .navadaptive__nav_active {
    background-color: #d17e00;
  }

  .navadaptive__navtext {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
    color: #fff;
    font-size: 0.938rem;
    font-weight: medium;
  }

  .nav_pp {
    width: 50px;
    height: auto;
    -webkit-mask: url("../../img/svg/nav_pp.svg") no-repeat center;
    mask: url("../../img/svg/nav_pp.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_about {
    width: 50px;
    height: auto;
    -webkit-mask: url("../../img/svg/nav_about.svg") no-repeat center;
    mask: url("../../img/svg/nav_about.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_events {
    width: 50px;
    height: auto;
    -webkit-mask: url("../../img/svg/nav_events.svg") no-repeat center;
    mask: url("../../img/svg/nav_events.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_shop {
    width: 50px;
    height: auto;
    -webkit-mask: url("../../img/svg/nav_shop.svg") no-repeat center;
    mask: url("../../img/svg/nav_shop.svg") no-repeat center;
    background-color: #fff;
  }

  .nav_profile {
    width: 50px;
    height: auto;
    -webkit-mask: url("../../img/svg/nav_profile.svg") no-repeat center;
    mask: url("../../img/svg/nav_profile.svg") no-repeat center;
    background-color: #fff;
  }
}
